html {
  color: #a38c53;
  font-family: "Cardo";
  font-size: 14px;
}
body {
  background-color: #0e1129;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.search-short {
  display: flex;
  height: 150px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #a38c53;
  border-radius: 5px;
}

.poster {
  width: 25%;
}

.poster > img {
  object-fit: scale-down;
  height: 100%;
}

.desc {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px 0px;
}

.desc > button {
  padding: 5px 25px;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  color: #a38c53;
}

.desc > button:hover {
  border: 1px solid #a38c53;
}

input {
  width: 50%;
  text-align: center;
  color: #a38c53;
  border: none;
  border-bottom: 1px solid #a38c53;
  background-color: transparent;
}

#pop-up {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: auto;
  top: 25%;
  width: 90%;
  overflow: auto;
  background-color: rgba(62, 65, 84, 0.9);
  border-radius: 5px;
}

.hide {
  display: none;
}

.inner-pop {
  display: flex;
  margin: 10px 25px;
  align-items: center;
}

h1 {
  font-size: 60px;
  border-bottom: 3px solid #a38c53;
}
